@import '../../styles/mixins';

.step {
  background-color: $color--brand-primary;
  height: 8px;
  width: 8px;
}

.step_active {
  background-color: $color--brand-primary;
  height: 16px;
  width: 16px;
}

.step_ahead {
  height: 8px;
  width: 8px;
  background-color: $shade-30;
}
