@import '../../../styles/mixins';

.column_container {
  padding: 0 !important;
}

.column_title {
  background: linear-gradient(0deg, #15c0ed 0%, #5876ba 100%);
  color: #fff;
  margin: 0 !important;
  padding: 1.6rem;
  max-height: 92px;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
}

.column_title h4 {
  color: #fff;
  text-align: start;
}

.date_input {
  padding: 20px 5px 5px 10px;
  width: 100%;
  border: 1px solid #d1d1d6;
  box-sizing: border-box;
  border-radius: 12px;
  height: 3.5rem;
}

.intl-tel-input {
  width: 100%;
}

.label_date_input {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 12px;
  color: $shade-80;
  z-index: 1000;
}

.input__container {
  position: relative;
}