@import '../../styles/mixins';

.basic__title {
  @include bold-title;
}

.form_title {
  @include bold-title;
}

.input__container {
  position: relative;
  margin-top: 16px;
}

.label_buttons_element {
  font-size: 1.3rem;
  color: $color--brand-black;
}

.hospital_info__title {
  @include bold-title;
  margin-bottom: 16px;
}

.hospital_info_img__container {
  margin-bottom: 22px;
}

.hospital_info_img__container img {
  width: 80px;
  display: block;
  margin: auto;
}
