@import '../../../styles/mixins';

.ord_connection__text {
  color: #34c759;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.ord_connection__status {
  color: $shade-80;
  font-size: 0.8rem;
  font-style: italic;
}
