@import '../../styles/mixins';

.searchBarContainer {
  position: relative;
}

.searchIcon {
  background-color: transparent;
  position: absolute;
  left: 15px;
  border: none;
  color: $color--brand-primary;
  height: 100%;
  &:hover,
  &:active,
  &:focus {
    color: #0f3b55;
    outline: none;
  }
}

.addIcon {
  background-color: transparent;
  position: absolute;
  left: 270px;
  border: none;
  color: $color--brand-primary;
  height: 100%;
  &:hover,
  &:active,
  &:focus {
    color: #0f3b55;
    outline: none;
  }
}

.actions_container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.notFound {
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
}
