@import '../../styles/mixins';

.input {
  width: 100%;
  height: 3.5rem;
  border: 1px solid #d1d1d6;
  border-radius: 12px;
  padding: 9px 20px 9px 50px;
}

.input:hover,
.input:hover,
.inputFocused {
  border: 1px solid $shade-50;
  box-shadow:2px 2px 2px $shade-10;
  outline: none;
}

.suggestionsContainer {
  width: 100%;
}

.containerOpen .suggestionsContainer {
  display: block;
  position: absolute;
  background-color: $shade;
  font-weight: 300;
  font-size: 15px;
  border-radius: 8px;
  overflow: hidden;
  z-index: 2;
  box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.12);
}

.suggestionsList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: start;
}

.suggestion {
  cursor: pointer;
  padding: 8px 20px;
}

.suggestionHighlighted {
  background-color: $shade-10;
}

.suggestionFirst {
  border-top: 1px solid $shade-10;
}

.react-autosuggest__suggestion--focused {
  background-color: $blue-80;
  color: $shade;
}

.container {
  width: 100%;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $shade-50;
  opacity: 1; /* Firefox */
  font-style: italic;
}

.input:-ms-input-placeholder  {
  color: $shade-50;

}

.input::-ms-input-placeholder  {
  color: $shade-50;
}
