@import '../../../styles/mixins';

.room__container {
  max-width: 22%;
  border: 8px solid $shade-0;
  border-radius: 4px;
  background-color: #FFFFFF;
}

.room__container::before {
  content: '';
  position: absolute;
  background-color: white;
  width: 40px;
  height: 8px;
  bottom: -8px;
  right: 45%;
}

.room__container_bottom::after {
  content: '';
  position: absolute;
  background-color: white;
  width: 40px;
  height: 8px;
  top: -8px;
  right: 45%;
  bottom: 0;
}

.room__container p {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  color: $shade-0;
  text-align: left !important;
}

.room__container h4 {
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  color: $color--brand-primary;
}

.room__container h5 {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $color--brand-primary;
}
