@import '../mixins';

.chargebee_card__container {
  margin: auto;
  padding: 30px 0;
}

.chargebee_card-wrap {
  margin: auto;
}

.chargebee_card-contain {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.04);
  margin-bottom: 16px;
}

.chargebee_card-fieldset .chargebee_card-field {
  margin-bottom: 32px;
}

.chargebee_card-field {
  position: relative;
}

.chargebee_card-fields {
  display: flex;
  margin-left: -16px;
}

.chargebee_card-fields .chargebee_card-field {
  flex: 1;
  margin-left: 16px;
}

.chargebee_card-label {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: $shade-80;
  z-index: 1000;
}

.chargebee_card-input {
  padding: 20px 5px 5px 10px;
  width: 100%;
  border: 1px solid #d1d1d6;
  box-sizing: border-box;
  border-radius: 12px;
  height: 3.5rem;
  transition: 0.2s;
  cursor: text;
  /* font-weight: inherit; */
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.chargebee_card-input::placeholder {
  font-size: 14px;
  color: #9293ab;
}
.chargebee_card-input:focus::placeholder {
  color: #666;
}

.chargebee_card-input.invalid ~ .chargebee_card-bar::before {
  background: #e94745;
}
.chargebee_card-button {
  background: $color--brand-primary;
  color: #fff;
  font-size: 16px;
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  display: block;
  width: 100%;
  letter-spacing: 0.5px;
  transition: 0.2s;
  cursor: pointer;
}
.chargebee_card-button:hover,
.chargebee_card-button:focus {
  background: #1398bd;
}

.chargebee_card-button.submit {
  background-color: $color--brand-dark;
  color: transparent !important;
  transition-duration: 0s;
}

.token {
  color: #555;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.error {
  color: #e41029;
  padding: 10px;
  text-align: center;
  font-weight: 500;
}

.language-palette {
  display: flex;
}

.language-palette > .chargebee_card-button {
  margin: 0 10px;
  padding: 5px 10px;
  height: 50%;
  font-size: 14px;
}

.chargebee_card-button.small {
  height: 30px;
}
