@import '../mixins';

.intl-tel-input-level {
  padding: 20px 5px 5px 10px;
  width: 100%;
  border: 1px solid #d1d1d6;
  box-sizing: border-box;
  border-radius: 12px;
  height: 3.5rem;
}

.intl-tel-input {
  width: 100%;
}

.label_intl_phone_element {
  position: absolute;
  top: 5px;
  left: 60px;
  font-size: 12px;
  color: $shade-80;
  z-index: 1000;
}

// .selected-flag {
//   min-width: 73px;
// }