@import '../mixins';

.pincode-input-container {
  margin: 22px auto;
}

.pincode-input-text {
  border: 1px solid #d1d1d6 !important;
  border-radius: 12px !important;
  padding: 0 !important;
  margin: 0px 10px !important;
  text-align: center;
  width: 56px !important;
  height: 56px !important;
  color: $color--brand-black;
  font-size: 28px;
}
