@import '../mixins';

.react-calendar-timeline {
  padding-right: 0 !important;
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border: none !important;
  background: #e5e5ea !important;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.15);
  margin: 14px 0;
  min-height: 100px !important;
}

.rct-sidebar {
  border: none !important;
  margin-top: 7px;
  // width: 20px !important;
}

.rct-sidebar-row-even,
.rct-sidebar-row-odd {
  border: none !important;
  min-height: 114px !important;
  height: 114px !important;
  line-height: 114px !important;
  // padding: 0 !important;
  background-color: #ffffff !important;
}

.rct-item {
  margin: 9px 0;
  height: 106px;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
  border: none !important;
}

.react-calendar-timeline .rct-dateHeader {
  background: #ffffff !important;
}

.rct-dateHeader {
  border: none !important;
  align-self: start;
}

.date_container {
  position: sticky !important;
}

.sticky_date {
  position: sticky !important;
}

.rct-calendar-header {
  background: #ffffff;
  border: none !important;
  z-index: 1000;
}

.rct-outer {
  background: #ffffff;
}