@import '../mixins';

.pair-row-style {
  background-color: $backgroundGrey;
}

.row-style {
  height: 62px !important;
  color: $shade-90;
}

.row-style td {
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // word-break: break-all;
}

.header-table {
  background: linear-gradient(0deg, #15c0ed 0.08%, #5876ba 100%);
  color: #ffffff;
  vertical-align: middle;
  height: 40px;
}

.page-link {
  border-radius: 50% !important;
  color: $color--brand-primary !important;
  border: none !important;
  min-width: 33px !important;
  min-height: 33px !important;
}

.page-item.page-link {
  color: $shade-90 !important;
}

.page-item.active .page-link {
  background-color: $color--brand-primary !important;
  border-color: $color--brand-primary !important;
  color: #ffffff !important;
}

.react-bootstrap-table table {
  table-layout: auto !important;
}
