@import '../mixins';

.react-search-field-input {
  outline: none;
  border: none;
  font-size: 14px;
  padding: 0px 8px;
  flex: 1 1 0%;
  color: rgb(90, 90, 90);
  font-weight: 100;
  height: 33px;
}
.react-search-field {
  max-width: 250px;
  background: #ffffff;
  box-shadow: 0px 12px 40px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  border: none !important;
  outline: none;
  border: none;
  font-size: 14px;
  padding: 0px 8px;
  flex: 1 1 0%;
  color: rgb(90, 90, 90);
  font-weight: 100;
  height: 33px;
}

.react-search-field-button svg {
  fill: $color--brand-primary !important
}
