@import '../../styles/mixins';

.total {
  text-align: center;
  letter-spacing: 0.5px;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  color: #5876ba;
  border: 3px solid transparent;
  border-image: linear-gradient(0deg, #5876ba 0%, #15c0ed 100%);
  border-image-slice: 1;
  padding: 25px 20px;
}

.total_number {
  font-weight: 800;
  font-size: 64px;
  line-height: 76px;
  background: linear-gradient(0deg, #5876ba 0%, #15c0ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.surgeries {
  font-size: 11px;
  font-weight: 600;
  color: #636366;
  margin-left: -10px;
}

.item {
  border: 2px solid #e5e5ea;
  border-left: none;
  border-radius: 0px 4px 4px 0px;
  text-transform: uppercase;
}

.item span {
  height: 38px;
  line-height: 38px;
  white-space: nowrap;
}

.onTime {
  color: rgba(52, 199, 89, 1);
  font-weight: 600;
  font-size: 19px;
}

.delayed {
  color: rgba(255, 204, 0, 1);
  font-weight: 600;
  font-size: 19px;
}

.attention {
  color: rgba(255, 59, 48, 1);
  font-weight: 600;
  font-size: 19px;
}
