@import '../../styles/mixins';

.modal_width {
  max-width: 842px;
}

.subtitle_title {
  width: 400px;
  height: 50px;
  text-align: center; 
  padding-top: 15px;
  font: 20px;
}

.modal_image_header_padding img {
  margin: 0 auto;
  padding-top: 50px;
}