@import '../../styles/mixins';

.custom_group {
  min-height: 100px !important;
  writing-mode: vertical-rl;
  width: 20px;
  padding: 0;
  margin: 7px 0;
}

.title {
  box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px 0px 0px 4px;
  color: white;
  width: 20px;
  padding: 0;
  margin: 0;
  line-height: 17px;
  transform: rotate(-180deg);
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}
