@import '../../styles/mixins';

.check_email__text {
  text-align: center;
}

.check_email__title {
  @include bold-title;
  margin-bottom: 16px;
}

.check_email_img__container {
  margin-bottom: 22px;
}

.check_email_img__container img {
  width: 66px;
  display: block;
  margin: auto;
}
