@import '../../../styles/mixins';

.column_container {
  padding: 0 !important;
}

.column_title {
  background: linear-gradient(0deg, #15c0ed 0%, #5876ba 100%);
  color: #FFF;
  margin: 0 !important;
  padding: 1.6rem;
  max-height: 92px;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
}

.column_title h4{
  color: #FFF;
  text-align: start;
}
