@import '../../../styles/mixins';

.input__container {
  position: relative;
  margin-top: 16px;
}

.offer__content {
  text-align: start;
  font-weight: normal;
  font-size: 0.75rem;
}

.offer__price {
  font-weight: 600;
  font-size: 16px;
}

.check__form {
  text-align: start;
}

.desition_flow {
  font-weight: normal;
  font-size: 1.35rem;
}

.payment_info__title {
  @include bold-title;
  margin-bottom: 16px;
}

.payment_info_img__container img {
  width: 80px;
  display: block;
  margin: auto;
}
