@import '../../styles/mixins';

.container {
  background-color: $backgroundGrey;
}

.panel {
  height: 35vh;
  border-radius: 8px;
}

.swimming_lanes {
  display: block;
  overflow: auto;
  height: 55vh;
}

.sidebar_open {
  width: 20%;
}

.sidebar_collapsed {
  width: 5%;
}

.timeline_open {
  width: 80%;
}

.timeline_collapsed {
  width: 95%;
}

.sideBar {
  height: 90vh;
  overflow: auto;
}