@import "../../../styles/mixins";

.room__container {
  position: relative;
  max-width: 22%;
  background-color: #FFFFFF;
}

.room__selected_left_true {
  margin-right: 3%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 8px solid $color--brand-primary;
  border-bottom: 8px solid $color--brand-primary;
  border-right: 8px solid $color--brand-primary;
  border-left: 0px;
}

.room__selected_left_false {
  margin-right: 3%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 8px solid $shade-0;
  border-bottom: 8px solid $shade-0;
  border-right: 8px solid $shade-0;
  border-left: 0px;
}

.room__selected_right_true {
  margin-left: 3%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 8px solid $color--brand-primary;
}

.room__selected_right_false {
  margin-left: 3%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 8px solid $shade-0;
}

.room__container_top {
  margin-bottom: 25px;
  margin-top: -8px;
}

.room__container_bottom {
  z-index: 1000;
}

.room__container_top::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 40px;
  height: 8px;
  bottom: -8px;
  right: 45%;
}

.room__container_bottom::after {
  content: "";
position: absolute;
background-color: white;
width: 40px;
    height: 8px;
    top: -8px;
    right: 45%;
    bottom: 0;
}


.room__container p {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  color: $shade-0;
  text-align: left !important;
}

.room__container h4 {
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  color: $color--brand-primary;
}

.room__container h5 {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: $color--brand-primary;
}
