@import '../../../styles/mixins';

.input__container {
  position: relative;
}

.text_input {
  padding: 20px 5px 5px 10px;
  width: 100%;
  border: 1px solid #d1d1d6;
  border-radius: 12px;
  height: 3.5rem;
}

.label_element {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: $shade-80;
}

.disabled {
  background: rgba(239, 239, 239, 0.3) !important;
}
