@import '../../styles/mixins';

.desition_flow {
  font-weight: normal;
  font-size: 1.35rem;
}

.left_text {
  text-align: left;
  padding-left: 15px;
}

.button {
  min-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
