@import '../../../styles/mixins';

.input__container {
  position: relative;
}

.text_input {
  padding: 20px 5px 5px 10px;
  width: 100%;
  border: 1px solid #d1d1d6;
  border-radius: 12px;
  height: 3.5rem;
}

.top_combo {
  border-radius: 12px 12px 0px 0px;
  padding: 5px 5px 5px 10px;
}

.bottom_combo {
  border-radius: 0px 0px 12px 12px;
}

.label_element {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 12px;
  color: $shade-80;
}

.input__actions_container {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.input_arrow__icon {
  background-color: transparent;
  border: none;
  color: $color--brand-primary;
  &:hover,
  &:active,
  &:focus {
    color: $shade-50;
    outline: none;
  }
  font-size: 24px;
}

.invalid_feedback {
  color: #cc0000;
  font-size: 12px;
}