@import '../../styles/mixins';

.icon {
  height: 23px;
}

.item {
  font-weight: bold;
  font-size: 11px;
  color: #ffffff;
  border-radius: 4px;
  background: #41494F;
}

.item p {
  padding-bottom: 7px;
}

.arrived span {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #34c759;
}
.cancelled {
  background: rgba(255, 59, 48, 0.4);
}
.cancelled span {
  text-transform: uppercase;
}
.late span {
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  /* identical to box height, or 136% */

  letter-spacing: 1px;
  text-transform: uppercase;

  /* System Colors/Light/systemGreen */

  color: #ffcc00;
}
