@import '../../../styles/mixins';

.form_title {
  @include bold-title;
}

.input__container {
  position: relative;
  margin-top: 16px;
}

.submit__button {
  margin-top: 1rem;
}

.signin_text {
  margin: 20px auto;
}

.signin_link {
  color: $color--brand-primary;
}

.personal_info__title {
  @include bold-title;
  margin-bottom: 16px;
}

.personal_info_img__container {
  margin-bottom: 22px;
}

.personal_info_img__container img {
  width: 80px;
  display: block;
  margin: auto;
}
