@import '@fortawesome/fontawesome-svg-core/styles.css';
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

/****** Colors ******/

$color--brand-primary: #15c0ed;
$color--brand-dark: #5876ba;
$color--brand-black: #231f20;

$background: #f6f7fa;
$border: #e6e9f0;
$backgroundBlue: #0f3b55;
$backgroundGrey: #f2f2f7;

$shade: #fff;
$shade-0: #e5e5ea;
$shade-10: #eaeaf5;
$shade-20: #dadae9;
$shade-30: #d1d1d6;
$shade-40: #b7b7ca;
$shade-50: #9d9db1;
$shade-60: #88889d;
$shade-70: #707086;
$shade-80: #8e8e93;
$shade-90: #636366;
$shade-100: #333340;

$blue-20: #aacbfb;
$blue-40: #83b2f6;
$blue-60: #619cf3;
$blue-80: #3d88f5;
$blue-100: #136bed;

$blue: #4b86ff;
$blue-dark: #1a5be0;

$green: #59cd90;
$green-dark: #3cb073;

$red: #f08864;
$red-dark: #d6704d;

$orange: #fac05e;
$orange-dark: #dda342;

$dark: $shade-100;
$mediumDark: $shade-80;

$color-label: $shade-60;
$color-link: $blue;

$color-primaryExtraLight: #9abbff;
$color-primaryLight: #71a0ff;
$color-primary: #4b86ff;
$color-primaryMedium: #3473f5;
$color-primaryDark: #1a5be0;

/****** Brand color ******/
$facebook: #395799;
$twitter: #00bbd3;
$linkedin: #2095f2;
$mail: #555;

/****** Fonts ******/

$appFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;
$bodyFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif;

/****** Rando ******/

$border-radius: 4px;
$boxShadow: 0 1px 3px 0 rgba(51, 51, 64, 0.08),
  0 1px 1px 0 rgba(51, 51, 64, 0.08);

$border-radius-card: 5px;
$boxShadow-card: 0px 1px 3px rgba(51, 51, 51, 0.16);
$background-card: #ffffff;

/****** Spacing ******/
$card-spacing: 30px;

/****** Mixins ******/

@mixin popover {
  border: 1px solid $border;
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@mixin card {
  border-radius: $border-radius-card;
  box-shadow: $boxShadow-card;
  background: $background-card;
}

@mixin bold-title {
  font-weight: bold;
  color: $color--brand-black;
  font-size: 1.9rem;
  margin-bottom: 1.1rem;
  margin-top: 1.4rem;
}

/****** Text ******/

// Headings (used for app interfaces)

@mixin h1 {
  color: $dark;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.3;
  margin: 0;
}

@mixin h2 {
  color: $dark;
  font-weight: 600;
  font-size: 30px;
  line-height: 1.3;
  margin: 0;
}

@mixin h3 {
  color: $dark;
  font-weight: 600;
  font-size: 26px;
  line-height: 1.3;
  margin: 0;
}

@mixin h4 {
  color: $dark;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.3;
  margin: 0;
}

@mixin h5 {
  color: $dark;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
}

// Headings (used for app interfaces)

@mixin h1-app {
  color: $dark;
  font-weight: 500;
  font-size: 26px;
  line-height: 1.3;
  margin: 0;
}

@mixin h2-app {
  color: $dark;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.3;
  margin: 0;
}

@mixin h3-app {
  color: $dark;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
}

@mixin h4-app {
  color: $dark;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
}

@mixin h5-app {
  color: $dark;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.3;
  margin: 0;
}

// Paragraphs

@mixin p {
  font-weight: normal;
  font-size: 15px;
  line-height: 1.5;
  color: #636366;
}

@mixin p-s {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.5;
}

@mixin p-l {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
}

@mixin p-xl {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}

/****** Gradient system ******/

$gradients: () !default;
$gradients: map-merge(
  (
    zuno: linear-gradient(0deg, #15c0ed 0%, #5876ba 100%),
    warm: linear-gradient(135deg, #f2cd48 0%, #fd803f 100%),
    hot: linear-gradient(135deg, #f9445a 0%, #fd803f 100%),
    cold: linear-gradient(135deg, #8019c6 0%, #2f93cc 100%),
  ),
  $gradients
);

@mixin border-gradient($parent, $gradient) {
  #{$parent} {
    position: relative;
    background-color: #f2f2f7;
    background-clip: padding-box;
    border: 20px solid transparent;
    border-width: 6px;
    border-style: solid;
    border-radius: 12px;
    &:after {
      border-image: $gradient;
      position: absolute;
      top: -4px;
      bottom: -4px;
      left: -4px;
      right: -4px;
      background: $gradient;
      content: '';
      z-index: -1;
      border-radius: 12px;
    }
  }
}
// @mixin border-gradient($parent, $gradient) {
//   #{$parent} {
//     border: 20px solid transparent;
//     border-width: 6px;
//     border-style: solid;
//     border-image: $gradient;
//     border-image-slice: 1;
//     border-radius: 12px;
//     &:before {

//     }
//   }
// }

// Gradient backgrounds
@mixin bg-gradient($parent, $gradient) {
  #{$parent} {
    background: $gradient;
  }
}

// Gradient text
@mixin text-gradient($parent, $gradient) {
  #{$parent} {
    background-image: $gradient;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

// Gradient Classes
@each $gradient, $value in $gradients {
  @include bg-gradient('.bg-gradient-#{$gradient}', $value);
}

// Gradient Classes
@each $gradient, $value in $gradients {
  @include text-gradient('.text-gradient-#{$gradient}', $value);
}

// order Classes
@each $gradient, $value in $gradients {
  @include border-gradient('.border-gradient-#{$gradient}', $value);
}

/****** Responsive ******/

@mixin tablet {
  @media screen and (max-width: 991px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}
