@import '../../styles/mixins';

.container {
  height: 35vh;
  overflow: auto;
  background: #ffffff;
  border-radius: 8px 0px 0px 8px;
  padding-left: 20px;
}

.container h5 {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.38px;
  color: #636366;
  padding-bottom: 0;
  padding-top: 10px;
}

.status {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 600;
  font-size: 17px;
  color: #231f20;
}
