@import '../../styles/mixins';

.container {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #e5e5ea;
  box-sizing: border-box;
  border-radius: 12px;
  transition: border 0.24s ease-in-out;
}

.field_pills {
  background: #f2f2f7;
  border-radius: 12px;
  text-align: left !important;
}

.fields_note {
  text-align: left !important;
  font-style: italic;
  font-size: 12px;
  color: $shade-90
}

.download_sample {
  text-align: right !important;
  font-size: 13px;
}