@import '../../../styles/mixins';

.check_email__content {
  text-align: center;
}

.check_email__title {
  @include bold-title;
  margin-bottom: 16px;
}

.check_email_img__container {
  margin-bottom: 22px;
}

.check_email_img__container img {
  width: 66px;
  display: block;
  margin: auto;
}

.check_email__text_link {
  font-size: 1rem;
  color: #231f20;
  margin-top: 32px;
}

.check_email__link {
  font-size: 1rem;
  color: $color--brand-primary;
}
