@import '../../styles/mixins';

.item {
  border: 2px solid #e5e5ea;
  border-radius: 4px;
  margin-left: 0;
  min-height: 65px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.selected {
  color: white;
  background-color: #15c0ed;
}

.selected {
  color: white;
  background-color: #15c0ed;
}
.selected .number {
  color: white;
}
.deselected .number {
  color: #231f20;
}

.deselected {
  color: #636366;
  background-color: transparent;
}

.subtitle {
  font-size: 11px;
  font-weight: 600;
  color: #636366;
}

.title {
  font-weight: 600;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.38px;
  text-align: start;
}

.number {
  font-weight: normal;
  font-size: 32px;
  line-height: 32px;
  /* identical to box height, or 100% */

  text-align: right;
  letter-spacing: 0.38px;

  /* Zuno / Black */
}
