@import '../../styles/mixins';

.layout__container {
  min-height: 100vh;
  padding: 0;
}

.img__container {
  background-image: url(../../assets/images/right_image_onboarding.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}