@import '../../../styles/mixins';

.input__container {
  position: relative;
  margin-top: 16px;
}

.desition_flow {
  font-weight: normal;
  font-size: 1.35rem;
}

.payment__subtitle {
  text-align: start !important;
  @include p;
}
