@import "../../../styles/mixins";

.input__container {
  position: relative;
  margin-top: 16px;
}

.ord_connection__text {
  color: #34C759;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.ord_connection__status {
  color: $shade-80;
  font-size: 0.8rem;
  font-style: italic;
}

.desition_flow {
  font-weight: normal;
  font-size: 1.35rem;
}
