@import "../../../styles/mixins";

.room__container {
  position: relative;
  width: 22%;
}


.room__container_left {
  margin-right: 3%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 8px solid;
  border-bottom: 8px solid;
  border-right: 8px solid;
  margin-right: 3%;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 8px solid $shade-0;
  border-bottom: 8px solid $shade-0;
  border-right: 8px solid $shade-0;
}

.room__container_right {
  margin-left: 3%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-left: 3%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 8px solid;
}

.room__container_top {
  margin-bottom: 25px;
  margin-top: -8px;
  border-image: linear-gradient(0deg, #5876ba 0%, #15c0ed 100%);
  border-image-slice: 1;
}

.room__container_bottom {
  z-index: 1000;
  border-image: linear-gradient(0deg, #15c0ed 0%, #5876ba 100%);
  border-image-slice: 1;
}

.room__container_top::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 40px;
  height: 8px;
  bottom: -8px;
  right: 45%;
}

.room__container_bottom::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 40px;
  height: 8px;
  top: -8px;
  right: 45%;
  bottom: 0;
}

.room__container p {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.38px;
  text-transform: uppercase;
  color: $shade-0;
  text-align: left !important;
}

.room_number {
  color: $color--brand-primary !important;
}