@import '../../styles/mixins';

.input__container {
  position: relative;
  margin-top: 16px;
}

.offer__content {
  text-align: start;
  font-weight: normal;
  font-size: 0.75rem;
}

.offer__price {
  font-weight: 600;
  font-size: 16px;
}
