@import '../../styles/_mixins.scss';

.icon {
  line-height: 0;
  padding: 0;
  &:global(.btn) {
    font-size: 1.8em;
  }
  &:global(.btn-lg) {
    font-size: 2.2em;
  }

  & + .icon {
    margin-left: 12px;
  }
}

/****** Icon Position ******/

.left {
  margin-right: 5px;
}

.right {
  margin-left: 5px;
}

/****** Button Styles ******/

.unstyled-primary,
.no-padding-primary {
  color: theme-color('primary');
}

.unstyled-secondary,
.no-padding-secondary {
  color: theme-color('secondary');
}

.unstyled-success,
.no-padding-success {
  color: theme-color('success');
}

.unstyled-warning,
.unstyled-warning {
  color: theme-color('warning');
}

.unstyled-danger,
.no-padding-danger {
  color: theme-color('danger');
}

.unstyled-info,
.no-padding-info {
  color: theme-color('info');
}

.unstyled-light,
.no-padding-light {
  color: theme-color('light');
}

.unstyled-dark,
.no-padding-dark {
  color: theme-color('dark');
}

.no-padding-primary {
  padding: 0;
}

.no-padding-secondary {
  padding: 0;
}

.no-padding-success {
  padding: 0;
}

.no-padding-warning {
  padding: 0;
}

.no-padding-danger {
  padding: 0;
}

.no-padding-info {
  padding: 0;
}

.no-padding-light {
  padding: 0;
}

.no-padding-dark {
  padding: 0;
}
