@import '../../../styles/mixins';

.desition_flow {
  font-weight: normal;
  font-size: 1.35rem;
}

.floor__container {
  border: 10px solid $shade-0;
}

.more_rooms__button {
  margin-bottom: -50px;
}