@import '../../styles/mixins';

.surgeon {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: -0.24px;
}

.surgery {
  font-weight: 500;
  font-size: 12px;
  margin: 4px 0px;
  line-height: 16px;
}
