@import '../../../styles/mixins';

.form__container {
  width: 50%;
  align-self: center;
  color: $shade-90;
}

.form_title {
  @include bold-title;
}

.input__container {
  position: relative;
}

.signin_text {
  vertical-align: middle;
}

.signin_link {
  font-size: 15px !important;
  font-weight: 700 !important;
  padding: 0 !important;
}
