@import '../../styles/mixins';

.dzu_previewButton {
  background-size: 14px 14px;
  background-position: center;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  cursor: pointer;
  opacity: 0.9;
  margin: 0 0 2px 10px;
}

.input__icon {
  background-color: transparent;
  border: none;
  &:hover,
  &:active,
  &:focus {
    color: $shade-100;
    outline: none;
  }
  font-size: 14px;
}

.file_name {
  text-align: left !important;
  font-weight: 600;
  font-size: 13px;
}

.file_size {
  margin-left: 20px;
  font-size: 13px;
  text-transform: uppercase;
}

.red {
  color: #ED4C5C;
}

.green {
  color: #34C759;
}