@import '../../styles/mixins';

.input__title {
  font-size: 1.5rem;
}

.input__subtitle {
  color: $shade-70;
}

.input__label {
  color: $color--brand-primary;
  font-weight: 700;
  cursor: pointer;
  padding: 15;
  border-radius: 3;
}
