@import "../../styles/mixins";

.input__container {
  position: relative;
  margin-top: 16px;
}

.account_owner__title {
  font-weight: normal;
  font-size: 1.35rem;
}

.payment_info__title {
  @include bold-title;
  margin-bottom: 16px;
}

.payment_info_img__container {
  margin-bottom: 22px;
}

.payment_info_img__container img {
  width: 80px;
  display: block;
  margin: auto;
}
