@import '../../styles/mixins';

.container {
  height: 35vh;
  overflow: auto;
  background: #FFFFFF;
  border-radius: 8px 0px 0px 8px;
  padding-left: 20px;
}

.container h5 {
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0.38px;
  color: #231f20;
}

.button {
  padding: 0;
  border: none;
  margin: 8px 11px;
  background: #FFF;
}

.room {
  border-radius: 4px 4px 0px 0px;
  text-align: center;
  letter-spacing: 0.06px;
  color: #ffffff;
  width: 67px;
  height: 21px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.room p {
  padding-top: 3px;
  padding-bottom: 3px;
}

.surgeries {
  width: 67px;
  height: 46px;
  font-size: 32px;
  border-radius: 0 0 4px 4px;
}
