@import '../../styles/mixins';

.searchBarContainer {
  position: relative;
}

.searchIcon {
  background-color: transparent;
  position: absolute;
  left: 15px;
  border: none;
  color: $color--brand-primary;
  height: 100%;
  &:hover,
  &:active,
  &:focus {
    color: #0f3b55;
    outline: none;
  }
}

.actions_container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.pill {
  background: #f2f2f7;
  border-radius: 8px;
  color: #231f20;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 600;
  font-size: 15px;
  text-align: start;
}

.subtitle {
  color: #636366;
  font-size: 13px;
  text-align: start;
  margin-bottom: 20px;
  margin-top: 30px;
}
