@import '../../styles/mixins';

.container {
  background: #333638;
  border-radius: 8px;
  height: 92vh;
  overflow: auto;
  // width: 100%;
  // margin-left: 8px !important;
}

.header {
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.38px;
  color: #ffffff;
}

.header p {
  display: table-cell;
  vertical-align: middle;
}

.collapse_button {
  background-color: transparent;
  border: none;
  color: $shade-30;
  &:hover,
  &:active,
  &:focus {
    color: $shade-50;
    outline: none;
  }
  font-size: 24px;
}
