@import '../../styles/mixins';

.input__container {
  position: relative;
  margin-top: 16px;
}

.subtitle_title {
  width: 400px;
  height: 50px;
  text-align: center; 
  padding-top: 15px;
  font: 20px;
}

.modal_image_header_padding img {
  margin: 0 auto;
  padding-top: 50px;
}

.check__form {
  text-align: start;
}

.desition_flow {
  font-weight: normal;
  font-size: 1.35rem;
}

.column_container {
  padding: 0 !important;
}

.column_title {
  background: linear-gradient(0deg, #15c0ed 0%, #5876ba 100%);
  color: #FFF;
  margin: 0 !important;
  padding: 1.6rem;
  max-height: 92px;
  align-items: center;
  border-radius: 12px 12px 0px 0px;
}

.column_title h4{
  color: #FFF;
  text-align: start;
}

.payment__subtitle {
  text-align: start !important;
  @include p;
}

.button {
  min-width: 200px;
}

