@import '../../styles/mixins';

.sticky {
  position: sticky;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 0px 0px;
  top: 0;
  z-index: 2000;
  background: #ffffff !important;
}

.date {
  background: #ffffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 0px 0px;
  height: 50px !important;
}
.date span {
  color: #636366 !important;
  font-size: 15px;
  line-height: 24px;
}
.time span {
  background: #ffffff;
  color: #636366 !important;
  font-size: 15px;
  line-height: 24px;
}

.hour {
  display: flex;
  flex-direction: row;
  height: 15px;
  border-left: 1px solid #d1d1d6 !important;
}

.first_half_hour {
  width: 50%;
  height: 10px;
  border-right: 1px solid #d1d1d6;
}
.second_half_hour {
  width: 50%;
}
