/* The following block can be included in a custom.scss */
@import 'styles/_mixins';
/* make the customizations */

$info: $color--brand-primary;
$min-contrast-ratio: 1;

/* import bootstrap to set changes */
@import 'styles/plugins/pincodeOverride.scss';
@import 'styles/plugins/intlInputOverride.scss';
@import 'styles/plugins/reactBootstrapTable.scss';
@import 'styles/plugins/chargebee.scss';
@import 'styles/plugins/searchInput.scss';
@import 'styles/plugins/dateTimePicker.scss';
@import 'styles/plugins/reactCalendarTimeline.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~react-pro-sidebar/dist/scss/styles.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  overflow-x: hidden;
}

p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: $color--brand-primary;
}

* {
  box-sizing: border-box;
}

.btn {
  border-radius: 12px;
  font-size: 1.1rem;
}

.btn-link {
  text-decoration: none;
  color: $color--brand-primary;
}

.btn-link:focus,
.btn-link:active {
  outline: none !important;
  box-shadow: none;
}

.btn-lg {
  min-height: 56px !important;
}

.btn-sm {
  font-size: 13px !important;
  vertical-align: middle;
}

.nav-link {
  font-family: 'Roboto', sans-serif;
  color: $color--brand-primary;
  font-weight: 600;
}

.modal-title {
  width: 100%;
}

.modal-content {
  text-align: center;
  border-radius: 16px;
  padding: 4rem 5rem;
}

.modal-footer {
  flex-direction: column;
}

.rounded-content {
  border-radius: 12px;
}

.desition_flow {
  font-weight: normal;
  font-size: 1.35rem;
}

.desition_flow_right {
  font-weight: normal;
  font-size: 1.1rem;
  text-align: left;
}

.inputLabelWithFiles {
  height: 100%;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 320px;
  height: 4px;
}

progress[value]::-webkit-progress-value {
  background-color: $color--brand-primary;
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}