@import '../../styles/mixins';

/* HIDE RADIO */
[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type='radio'] + div + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type='radio']:checked + div {
  outline: 2px solid $color--brand-primary;
}

.radioButton {
  min-height: 230px;
  min-width: 100%;
  cursor: pointer;
}

.imgButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.desition_flow {
  font-weight: normal;
  font-size: 1.35rem;
}
