.img__container {
  background-image: url(../../assets/images/right_image_onboarding.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.padding_zero {
  margin: 0 !important;
}