@import 'styles/_mixins.scss';

/****** Link Styles ******/

.unstyled-primary {
  color: theme-color('primary');
}

.unstyled-secondary {
  color: theme-color('secondary');
}

.unstyled-success {
  color: theme-color('success');
}

.unstyled-warning {
  color: theme-color('warning');
}

.unstyled-danger {
  color: theme-color('danger');
}

.unstyled-info {
  color: theme-color('info');
}

.unstyled-light {
  color: theme-color('light');
}

.unstyled-dark {
  color: theme-color('dark');
}
