@import '../../../styles/mixins';

.form__container {
  width: 50%;
  align-self: center;
  color: $shade-90;
}

.form_title {
  @include bold-title;
}

.input__container {
  position: relative;
  margin-top: 16px;
}

.submit__button {
  margin-top: 1rem;
}

.signin_text {
  margin: 20px auto;
}

.signin_link {
  color: $color--brand-primary;
}
