@import '../../styles/mixins';

.item {
  border: 2px solid #e5e5ea;
  border-radius: 4px;
  margin-left: 0;
  min-height: 65px;
}

.title {
  font-size: 11px;
  font-weight: 600;
  color: #636366;
}

.time {
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.38px;
  color: #231f20;
}
